<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Aventix</display-name>
  <welcome-file-list>
    <welcome-file>accueil.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet de l'interface employe</description>
    <display-name>InterfaceEmploye</display-name>
    <servlet-name>InterfaceEmploye</servlet-name>
    <servlet-class>controleurs.InterfaceEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceEmploye</servlet-name>
    <url-pattern>/employe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerEmploye</display-name>
    <servlet-name>CreerEmploye</servlet-name>
    <servlet-class>controleurs.CreerEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerEmploye</servlet-name>
    <url-pattern>/creeremploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerEmployeur</display-name>
    <servlet-name>CreerEmployeur</servlet-name>
    <servlet-class>controleurs.CreerEmployeur</servlet-class>
  </servlet>
  <servlet>
    <description>Servlet permettant le controle du login des Utilisateurs</description>
    <display-name>RechargerFichier</display-name>
    <servlet-name>RechargerFichier</servlet-name>
    <servlet-class>controleurs.RechargerFichier</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RechargerCarte</display-name>
    <servlet-name>RechargerCarte</servlet-name>
    <servlet-class>controleurs.RechargerCarte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechargerCarte</servlet-name>
    <url-pattern>/recharger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet permettant le controle du login des Utilisateurs</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controleurs.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de l'interface employeur</description>
    <display-name>EmployeurServlet</display-name>
    <servlet-name>EmployeurServlet</servlet-name>
    <servlet-class>controleurs.EmployeurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeurServlet</servlet-name>
    <url-pattern>/employeur/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierEmployeurServlet</display-name>
    <servlet-name>ModifierEmployeurServlet</servlet-name>
    <servlet-class>controleurs.ModifierEmployeurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierEmployeurServlet</servlet-name>
    <url-pattern>/modifier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerEmployeur</servlet-name>
    <url-pattern>/creeremployeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerCommercant</display-name>
    <servlet-name>CreerCommercant</servlet-name>
    <servlet-class>controleurs.CreerCommercant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerCommercant</servlet-name>
    <url-pattern>/creercommercant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RechargerFichier</servlet-name>
    <url-pattern>/rechargerfichier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerListeEmploye</display-name>
    <servlet-name>CreerListeEmploye</servlet-name>
    <servlet-class>controleurs.CreerListeEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerListeEmploye</servlet-name>
    <url-pattern>/creerlisteemploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionsEmploye</display-name>
    <servlet-name>TransactionsEmploye</servlet-name>
    <servlet-class>controleurs.TransactionsEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionsEmploye</servlet-name>
    <url-pattern>/transactionsemploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerCommandes</display-name>
    <servlet-name>ListerCommandes</servlet-name>
    <servlet-class>controleurs.ListerCommandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerCommandes</servlet-name>
    <url-pattern>/listercommandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommanderCartes</display-name>
    <servlet-name>CommanderCartes</servlet-name>
    <servlet-class>controleurs.CommanderCartes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommanderCartes</servlet-name>
    <url-pattern>/CommanderCartes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterfaceCommercant</display-name>
    <servlet-name>InterfaceCommercant</servlet-name>
    <servlet-class>controleurs.InterfaceCommercant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceCommercant</servlet-name>
    <url-pattern>/commercant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionsCommercant</display-name>
    <servlet-name>TransactionsCommercant</servlet-name>
    <servlet-class>controleurs.TransactionsCommercant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionsCommercant</servlet-name>
    <url-pattern>/transactionscommercant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenererFichier</display-name>
    <servlet-name>GenererFichier</servlet-name>
    <servlet-class>controleurs.GenererFichier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenererFichier</servlet-name>
    <url-pattern>/genererfichier</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>